{:paths ["src/bb" "spec/bb"]
 :deps  {org.clojure/tools.logging {:mvn/version "1.3.0"}}
 
 :tasks {spec {:extra-deps {speclj/speclj {:mvn/version "3.9.0"}}
               :requires   ([speclj.main :as main])
               :task       (apply main/-main "-c" "spec/bb" *command-line-args*)}}}
